In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
##preprocess the data
###Drop irrelevant columns

data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
##Encode categorical variable
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# One-Hot Encoding for 'Geography' column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [7]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
#combine all one hot encoder column with original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
##save the encoder and scalar
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [11]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
##Divide dataset into independent and dependent feature
X=data.drop('Exited',axis=1)
y=data['Exited']

##split data into training and testing sets

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#Scale the feature
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [13]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [14]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [15]:
#1.sequential network
#2.Dense for hidden and output layer
#3.activation function like relu,sigmoid,softmax
#4.opttimize- Back propogation->updating weights
#5.Loss function
#6.Metrics- accuracy,precison,recall
#7.Training-Logs->folder->tensorboard->visualiztaion

In [16]:
#ANN implementation
#ANN called as sequential model
#for multiclass classification use softmax activation function in output layer
#for binary clasification use sigmoid activation functio in output layer
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
import datetime

WARNING:tensorflow:From c:\Users\Hp\Desktop\DL PROJECT\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [17]:
(X_train.shape[1],1)

(12, 1)

In [18]:
#Build ANN model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), #HL1 connected with input layer
    Dense(32,activation='relu'), #HL2
    Dense(1,activation='sigmoid') #Output layer
]
)

WARNING:tensorflow:From c:\Users\Hp\Desktop\DL PROJECT\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [21]:
##compile model
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [22]:
##set up tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [23]:
 ##set up EarlyStopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [24]:
#Training model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Hp\Desktop\DL PROJECT\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Hp\Desktop\DL PROJECT\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Hp\Desktop\DL PROJECT\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

WARNING:tensorflow:From c:\Users\Hp\Desktop\DL PROJECT\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 0.4116 - accuracy: 0.8282 - val_loss: 0.3573 - val_accuracy: 0.8570
Epoch 2/100
250/250 [==============================] - 2s 4ms/step - loss: 0.4116 - accuracy: 0.8282 - val_loss: 0.3573 - val_accuracy: 0.8570
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3552 - accuracy: 0.8528 - val_loss: 0.3617 - val_accuracy: 0.8560
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3552 - accuracy: 0.8528 - val_loss: 0.3617 - val_accuracy: 0.8560
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3487 - accuracy: 0.8528 - val_loss: 0.3403 - val_accuracy: 0.8600
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3487 - accuracy: 0.8528 - val_loss: 0.3403 - val_accuracy: 0.8600
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3441 - accuracy: 0.8584 - val_loss: 0.3333 - val_accuracy: 0.8660
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3441 - accuracy: 0.8584 - val_loss: 0.3333 - val_accuracy: 0.8660
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3382 - accuracy: 0.8614 - val_loss: 0.3441 - val_accuracy: 0.8630
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3382 - accuracy: 0.8614 - val_loss: 0.3441 - val_accuracy: 0.8630
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3405 - accuracy: 0.8605 - val_loss: 0.3525 - val_accuracy: 0.8585
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3405 - accuracy: 0.8605 - val_loss: 0.3525 - val_accuracy: 0.8585
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3333 - accuracy: 0.8610 - val_loss: 0.3536 - val_accuracy: 0.8580
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3333 - accuracy: 0.8610 - val_loss: 0.3536 - val_accuracy: 0.8580
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8611 - val_loss: 0.3499 - val_accuracy: 0.8615
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8611 - val_loss: 0.3499 - val_accuracy: 0.8615
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3307 - accuracy: 0.8615 - val_loss: 0.3437 - val_accuracy: 0.8580
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3307 - accuracy: 0.8615 - val_loss: 0.3437 - val_accuracy: 0.8580
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3279 - accuracy: 0.8639 - val_loss: 0.3489 - val_accuracy: 0.8635
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3279 - accuracy: 0.8639 - val_loss: 0.3489 - val_accuracy: 0.8635
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3308 - accuracy: 0.8637 - val_loss: 0.3444 - val_accuracy: 0.8580
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3308 - accuracy: 0.8637 - val_loss: 0.3444 - val_accuracy: 0.8580
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3289 - accuracy: 0.8654 - val_loss: 0.3475 - val_accuracy: 0.8620
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3289 - accuracy: 0.8654 - val_loss: 0.3475 - val_accuracy: 0.8620
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3259 - accuracy: 0.8645 - val_loss: 0.3571 - val_accuracy: 0.8595
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3259 - accuracy: 0.8645 - val_loss: 0.3571 - val_accuracy: 0.8595
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3248 - accuracy: 0.8670 - val_loss: 0.3562 - val_accuracy: 0.8590
250/250 [==============================] - 1s 3ms/step - loss: 0.3248 - accuracy: 0.8670 - val_loss: 0.3562 - val_accuracy: 0.8590

In [25]:
model.save('model.h5')

c:\Users\Hp\Desktop\DL PROJECT\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [26]:
##Load Tensorboard extension
%load_ext tensorboard

In [27]:
%tensorboard --logdir logs/fit20251117-170454

Reusing TensorBoard on port 6007 (pid 4164), started 20:46:53 ago. (Use '!kill 4164' to kill it.)

## How to view TensorBoard in this notebook
1. Make sure you have run the model training cell so logs are generated in the `logs/fit` directory.
2. Run the following cells in order:
   - `%load_ext tensorboard`
   - `%tensorboard --logdir logs/fit`
3. If the board does not display, try stopping any previous TensorBoard sessions and rerun the `%tensorboard` cell.
4. If you see a port-in-use error, restart the kernel and rerun the TensorBoard cells.

In [28]:
# combine one-hot encoded geography columns with original data (safe drop)
print('Columns before concat:', list(data.columns))
# Drop 'Geography' safely (no KeyError if it's already absent)
left = data.drop(columns=['Geography'], errors='ignore')
# Ensure geo_encoded_df exists; if not, raise a clear message
try:
    geo_encoded_df
except NameError:
    raise NameError("`geo_encoded_df` not found. Run the geography OneHot encoding cell first.")

# Concatenate and show head
data = pd.concat([left.reset_index(drop=True), geo_encoded_df.reset_index(drop=True)], axis=1)
print('Columns after concat:', list(data.columns))

data.head()

Columns before concat: ['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_France', 'Geography_Germany', 'Geography_Spain']
Columns after concat: ['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_France', 'Geography_Germany', 'Geography_Spain', 'Geography_France', 'Geography_Germany', 'Geography_Spain']

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0,0.0,0.0,1.0